@import 'src/shared/styles/vars.scss';

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $background;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;

  .header {
    display: flex;
    justify-content: space-between;
  }
}
