@import 'src/shared/styles/vars.scss';

.tableRow {
  &:last-child td,
  &:last-child th {
    border: 0
  }
}

.deleteIcon {
  display: flex;
  justify-content: center;

  div {
    display: flex;
  }

  svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: $red500;
  }
}
