
$black: #000000;
$white: #FFFFFF;

$gray50: #F5F6F8;
$gray100: #EDEFF2;
$gray150: #E2E4E9;
$gray400: #B8B8BA;
$gray500: #989A9F;
$gray600: #9C9C9E;
$gray650: #8A939B;
$gray700: #707A83;
$gray900: #343434;

$green500: #34C77B;

$red500: #FF6262;

$primary500: #3F69FF;

$background: #F7F7F8;

$border: #EAECEF;
$shadow: 0 2px 10px rgb(0 0 0 / 5%);

$mainBorderRadius: 4px;