@import 'src/shared/styles/vars.scss';

.wrapper {
  background: $white;
  padding: 8px;
  display: flex;
  gap: 16px;
  border-radius: $mainBorderRadius;
  border: 1px solid $border;

  .item {
    gap: 4px;
    display: flex;
    align-items: center;
  }

  .select {
    width: 200px;
  }

  .dateRange {
    width: 255px;
  }
}